<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.nexosapp.ibonoconsumidor"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>IBono Consumidor</name>

    <description>
        IBono Consumidor. 
    </description>

    <author href="https://www.nexos-software.com.co" email="avelez@nexos-software.com.co">
        IBono Consumidor
    </author>
	
	<icon src="icon.png" />
	<content src="index.html" />
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<preference name="phonegap-version" value="3.5.0" />
	
	<preference name="android-targetSdkVersion" value="16" />
	
	<preference name="target-device" value="universal" />
	<preference name="deployment-target" value="6.0" />

</widget>